body {
  background-color: lightblue;
  color: darkblue;
}

.App {
  text-align: center;
}

.taskBg {
  background: linear-gradient(to right, rgb(50, 50, 210), rgb(82, 149, 172));
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}

.taskBg div {
  display: flex;
  align-items: center;
  color: aliceblue;
}

.taskNumber {
  color: aliceblue;
  border: 1px solid aliceblue;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;

  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  margin-right: 1rem;
}

.taskBg .taskText {
  flex: 1;
}

.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.4;
}

.taskBg .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span {
  display: inline-block;
  margin: 0 1.5rem 0 1rem;
  cursor: pointer;
  color: rgb(15, 236, 15);
}

.taskBg .iconsWrap span:hover {
  color: rgb(235, 243, 0);
}

.mr-20 {
  margin-right: 2rem;
}

/* MOBILE  */

@media only screen and (max-width: 600px) {
  .taskBg {
    text-align: left;
    font-size: 22px;
    position: relative;
  }

  .taskBg div {
    display: flex;
    align-items: center;
    color: aliceblue;
  }

  .taskNumber {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;

    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    margin-right: 1rem;
  }

  .taskBg .taskText {
    flex: 1;
  }

  .taskBg .done .taskText {
    text-decoration: line-through;
    opacity: 0.4;
  }

  .taskBg .iconsWrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5rem;
    width: auto;
    display: inline-block;
  }

  .taskBg .iconsWrap span {
    margin: 0 0.5rem 0 0.5rem;
  }

  .taskBg .iconsWrap span:hover {
    color: rgb(235, 243, 0);
  }

  .mr-20 {
    margin-right: 2rem;
  }
}
